.postpage {
  width: 960px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.postpage__post {
  border: solid 1px var(--bordercolor);
  border-radius: 0.25rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.postpage__titlecontainer {
  display: flex;
  justify-content: space-between;
}
.postpage__caption {
  font: var(--captionfont);
  flex: 10;
}
.postpage__minortext {
  font: var(--minortextfont);
  flex: 1;
  flex-shrink: none;
  text-align: right;
}
.postpage__content {
  font: var(--textfont);
}
.postpage__replies {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.postpage__minorcaption {
  font: var(--minorcaptionfont);
}