.postpreview {
  width: 960px;
  border: solid 1px var(--bordercolor);
  border-radius: 0.25rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.postpreview__titlecontainer {
  display: flex;
  justify-content: space-between;
}
.postpreview__caption {
  font: var(--captionfont);
  flex: 10;
  transition: var(--transition);
}
.postpreview__caption:hover {
  color: var(--bordercolor);
  cursor: pointer;
}
.postpreview__minortext {
  font: var(--minortextfont);
  flex: 1;
  flex-shrink: none;
  text-align: right;
}
.postpreview__content {
  font: var(--textfont);
}
