.postpreview {
  width: 960px;
  border-radius: 0.25rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  backdrop-filter: blur(4px);
  border: solid 1px var(--bordercolor);
  border-bottom: solid 1px var(--borderhighlightedcolor);
  border-right: solid 1px var(--borderhighlightedcolor);
  box-shadow: 0 0 8px var(--fadecolor);
  background-color: var(--backgroundhighlightedcolor);
}
.postpreview__titlecontainer {
  display: flex;
  justify-content: space-between;
}
.postpreview__caption {
  font: var(--captionfont);
  flex: 10;
  transition: var(--transition);
}
.postpreview__caption:hover {
  color: var(--highlightcolor);
  cursor: pointer;
}
.postpreview__minortext {
  font: var(--minortextfont);
  flex: 2;
  flex-shrink: none;
  text-align: right;
}
.postpreview__content {
  font: var(--textfont);
}
