:root {
  --textcolor: #fff;
  --highlightcolor: #f6b1ce;
  --fadecolor: rgba(0, 0, 0, 0.15);
  --fadeoutcolor: rgba(255, 255, 255, 0.05);

  --bordercolor: rgba(255, 255, 255, 0.075);
  --borderhighlightedcolor: rgba(255, 255, 255, 0.2);
  --backgroudhighlightedcolor: rgba(255, 255, 255, 0.02);


  --background: linear-gradient(
    115deg,
    #2c3138 0%,
    #2c3138 28%,
    #2a2e36 28%,
    #2a2e36 50%,
    #323846 50%,
    #323846 72%,
    #282c34 72%,
    #282c34 100%
  );
  --maincaptionfont: 300 3.75rem "Roboto", sans-serif;
  --captionfont: 300 2.5rem "Roboto", sans-serif;
  --minorcaptionfont: 300 2rem "Roboto", sans-serif;
  --textfont: 300 1.125rem "Roboto", sans-serif;
  --minortextfont: 300 0.875rem "Roboto", sans-serif;
  --transition: all 0.3s cubic-bezier(0.22, 1, 0.36, 1);;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overscroll-behavior: none;
  background: var(--background);
  background-attachment: fixed;
}
body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  color: var(--textcolor);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
